<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Song List</title>
</head>
<body>
    <p>This is the song list</p>
    <p>Song list can be found here</p>
    <div>
        <h1><a href="/">Song List</a> </h1>
    </div>

    <div>
        <h2><a href="">Song 1</a> </h2>
        <p>Euphoria - BTS</p>
    </div>

    <div>
        <h2><a href="">Song 2</a> </h2>
        <p>Coming Home - Skylar Grey</p>
    </div>

    <div>
        <h2><a href="">Song 3</a> </h2>
        <p>Starboy - The Weeknd</p>
    </div>
</body>
</html>