<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
</head>
<body>
    <p>This is the book list</p>
    <p>Book list can be found here</p>
    <div>
        <h1><a href="/">Book List</a> </h1>
    </div>

    <div>
        <h2><a href="">Book 1</a> </h2>
        <p>Harry Potter - JK Rowling</p>
        <p>TBR</p>
    </div>

    <div>
        <h2><a href="">Book 2</a> </h2>
        <p>Pachinko - Min Jin Lee</p>
        <p>Completed</p>
    </div>

    <div>
        <h2><a href="">Book 3</a> </h2>
        <p>The Power of Habits - Charles Duhigg</p>
        <p>Currently Reading</p>
    </div>
</body>
</html>